.bannerBg{
    background: #E5E5E5;
    height: 568px;
    width: 100%;
}

.BannerHero{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 1200px;
    height: 568px;
    left: 173px;
    top: 158px;
}
.BannerHero >*{
width: 100%;
}