.navBarBG{
    width: 100%;
    background-color: #FFFFFF
    ;
}
.navBarContainner{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 179px;
}
.navLinks{
    display: flex;
    left: 815px;
    text-transform: uppercase;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #242120;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 40px;
    
}
.navItems{
    margin: 5px;
    padding: 3px 5px;
    list-style: none;
}

.signUpBtn{
background: #FF5C00;
box-shadow: 1px 4px 8px rgba(239, 88, 3, 0.2);
border-radius: 4px;
padding: 5px 8px;


font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}

.logo{

}
@media (max-width: 870px) {
    .navBarContainner{
        display: none;
    }
}